.header{
    position: sticky;
    top: 0;
    background-color: darkgreen;
    padding: 30px 20px;
    text-align: center;
}

.nav a{
    color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 5px 12px;
}

a.external_link {
    background-color: antiquewhite;
    color: darkgreen;
    border-radius: 5px;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
