.header{
    position: sticky;
    top: 0;
    background-color: darkgreen;
    padding: 30px 20px;
    text-align: center;
}

.nav a{
    color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 5px 12px;
}

.nav a.external_link {
    background-color: antiquewhite;
    color: darkgreen;
    border-radius: 5px;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-shadow: inset;
}

.nav a.external_link {
    background-color: antiquewhite;
    color: darkgreen;
    border-radius: 5px;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-shadow: inset;
}

.nav a.external_link:hover {
    background-color:bisque;
}

.p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-banner {
    width: 100vw;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
  }