.header{
    position: sticky;
    top: 0;
    background-color: darkgreen;
    padding: 30px 20px;
    text-align: center;
}

.nav a{
    color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.external_link {
    background-color: antiquewhite;
    color: darkgreen;
    border-radius: 5px;
}